spring:
  application:
    name: item-server
  cloud:
    config:
      override-none: true
server:
  port: 8001

eureka:
  client:
    service-url:
      # 注册服务的url
      defaultZone: http://eureka1:2001/eureka,http://eureka2:2002/eureka

ribbon:
  ConnectTimeout: 1000
  ggReadTimeout: 1000
  
item-service:
  ribbon:
    MaxAutoRetries: 1
    MaxAutoRetriesNextServer: 2
    ConnectTimeout: 1000
    ReadTimeout: 500
  