sp:
  user-service:
    users: "[{\"id\":7, \"username\":\"wenhai\",\"password\":\"lugang\"},{\"id\":8, \"username\":\"def\",\"password\":\"456\"},{\"id\":9, \"username\":\"ghi\",\"password\":\"789\"}]"

spring:
  application:
    name: user-service
  cloud:
    config:
      override-none: true    
server:
  port: 8101
eureka:
  client:
    service-url:
      # 注册服务的url
      defaultZone: http://eureka1:2001/eureka

management:
  endpoints:
    web:
      exposure:
        include: refresh